.details-reset > summary {
  list-style: none;
}

.details-option {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.98rem;
}
.text-bold {
  margin: 0.356rem;
  font-weight: 600;
}
.select-menu-list {
  position: relative;
  max-height: 200px;
  overflow: auto;
  display: flex;
  align-items: inherit;
  flex-direction: column;
  justify-content: flex-start;
}

.btn-link {
  display: inline-block;
  padding: 0;
  font-size: inherit;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 0;
  padding-right: 15px;
  padding-left: 0px;
  margin: 0.34rem 0px;
}

.details-option[open] > summary:before {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 80;
  display: block;
  cursor: default;
  content: " ";
  background: transparent;
}

.btn-link:after {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: -2px;
  content: "";
  border: 4px solid transparent;
  border-top-color: currentcolor;
}

.option-select-dropdown {
  position: absolute;
  right: 15px;
  width: 300px;
  margin-top: 4px;
  margin-bottom: 20px;
  overflow: hidden;
  font-size: 12px;
  background-clip: padding-box;
  border-radius: 6px;
  max-width: auto;
  background: #161b22;
  border: 1px solid #23282f;
  z-index: 99;
}

.option-select-header {
  font-weight: 600;
  padding: 8px 10px;
  line-height: 16px;
  text-align: left;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid #30363d;
}
.warn-text {
  cursor: pointer;
  padding: 1rem;
  line-height: 16px;
  text-align: center;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}
.option-select-item {
  cursor: pointer;
  padding: 8px 8px 8px 30px;
  line-height: 16px;
  text-align: left;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid #30363d;
}
.option-select-item::first-letter {
  text-transform: uppercase;
}

.option-select-item:hover {
  color: #f0f6fc;
  background-color: #1f6feb;
}

.option-select-item-search {
  padding: 8px 10px;
  line-height: 16px;
  text-align: left;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid #4d4f50;
}

.search-drop-down {
  display: block;
  width: 95%;
  max-width: 100%;
  padding: 5px;
  border: 1px solid #ebedef;
  border-radius: 6px;
  font-size: 14px;
  line-height: 20px;
  color: #c9d1d9;
  background-color: #0d1117;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #4d4f50;
  border-radius: 6px;
  outline: none;
}

@media only screen and (max-width: 767px) {
  .option-select-dropdown {
    position: fixed !important;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: auto;
    height: 80%;
    top: 75px;
    left: 16px;
    right: 16px !important;
  }

  .option-select-item {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 40px;
  }

  .option-select-item-search,
  .option-select-header {
    padding: 16px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }

  .select-menu-list {
    position: relative;
    max-height: 100% !important;
    overflow: auto;
  }
}
